<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nutrients</title>
  <link rel="stylesheet" href="css/nutrition.css" />
  {{>head}}

</head>

<body>
  {{>navbar}}
  <div class="container meal-style">
    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-md-12 col-12 mx-auto">
          <div class="row">
            {{! left side }}
            <div
              class="col-md-6 col-12 hero-text order-md-0 order-1 justify-content-center align-items-start flex-column">
              <div class="row center">
                <div class="col-12 center">
                  <h1>Meal Planner</h1>
                </div>
                <form id="user-info-form">
                  <div class="col-6 center row mt-3">
                    <label for="height" class="col-6">Height (in cm):</label>
                    <div class="col-6"><input type="number" id="height" name="height" min="0" required /></div>
                  </div>
                  <div class="col-6 center row mt-3">
                    <label for="weight" class="col-6">Weight (in kg):</label>
                    <div class="col-6"><input type="number" id="weight" name="weight" min="0" required /></div>
                  </div>
                  <div class="col-6 center row mt-3">
                    <label for="gender" class="col-6">Gender:</label>
                    <div class="col-6">
                      <input type="radio" value="M" id="male" name="gender" required> <label for="male"
                        class="ms-3 me-5">Male</label>
                      <input type="radio" value="F" id="female" name="gender" required><label class="ms-3"
                        for="female">Female</label>
                    </div>
                  </div>
                  <div class="col-6 center row mt-3 mb-4">
                    <label for="age" class="col-6">Age:</label>
                    <div class="col-6">
                      <input type="number" id="age" min="0" name="age" required />
                    </div>
                  </div>
                  <div class="col-12 center mb-5">
                    <button type="submit" id="generate-plan">Generate Meal Plan</button>
                  </div>
                </form>
              </div>
            </div>
            {{! right side }}
            <div class="col-md-6 col-12  meal order-md-1 order-0 center">
              <div class="meal-plan" id="meal-plan">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Food</th>
                      <th>Calories</th>
                      <th>Protein</th>
                      <th>Fat</th>
                      <th>Carbs</th>
                      <th>Recipe</th>
                    </tr>
                  </thead>
                  <tbody id="food-table-body">

                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  {{>footer}}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="js/nutrition.js"></script>

</body>

</html>