body,
html {
  background-image: url("/img/bglogin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body .navbar-style {
  background-color: transparent;
  margin-top: 2rem;
}

body .navbar-style nav {
  background-color: transparent;
}
.container {
  width: 100vw;
}

@keyframes hello {
  0% {
    background-color: transparent;
    border-color: red;
  }
  50% {
    background-color: red;
    border-color: black;
  }
  100% {
    background-color: transparent;
    border-color: red;
  }
}
.meal-style {
  & .hero-text {
    & #user-info-form {
      & label {
        color: white;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
.meal-style .meal-plan {
  color: gold;
  border: 0.5rem black solid;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  line-height: 3rem;
}
